body{
    background-color:rgb(127, 169, 177)

}
div.main{
    width: 400px;
    margin: 100px;
}
h2{
    text-align: center;
    padding: 20px;
}
div.register{
    background-color: rgb(233, 161, 161);
    width: 100%;
    font-size: 15PX;
    border-radius: 10px;
    border: 1px solid paleturquoise;
    color: #2d2c30;
}
form#register{
    margin: 60px;
}
input#name{
    width: 300px;
    border: 1px solid#ddd;
    border-radius: 3px;
    padding: 7px;
}
button{
    width: 200px;
    padding: 7px;
    font-size: 15px;
    border-radius: 4px;
    background-color: rgb(192, 205, 206);
    color: rgb(14, 8, 6);
    margin-bottom: 20px;
}
